<div id="<%= dom_id user %>">
	<p>
		<strong> Name</strong>
		<%= user.name %>
	</p>
	<p>
		<strong> LastName</strong>
		<%= user.last_name %>
	</p>
	<p>
		<strong> Address</strong>
		<%= user.address %>
	</p>
<p>
		<strong> Mobile No</strong>
		<%= user.mobile_no %>
	</p>



	<p>

	<strong> Type</strong>
	<%= user.appointment_type  %> 
	</p>
</div>
