<p><%= notice %></p>
<body>
<%= link_to "New user", new_user_path %>

<h1> List of Users</h1>

<div id="users">
  
</style>

<table>
  <tr>
    <td>Name</td>
    <td>Last-Name</td>
    <td>Email</td>
    <td>Address</td>
    <td>Mobile No</td>
    <td>Appointment Type</td>
  <tr>
  </table>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td> <%= user.name %> </td>
    <td> <%= user.last_name %> </td>
    <td> <%= user.email %> </td>
    <td> <%= user.address %> </td>
    <td> <%= user.mobile_no %> </td>
    <td> <%= user.type %> </td>


    <td colspan="2"> <%= link_to "show this user", users_path(user) %> 
      <%= link_to "edit ", edit_user_path(user) %> </td>
  </tr>
  <% end %>

    
  </table>
  </div> 

</body>